docs/
.openagentsbtw
assets-built/

*.apk
*.ap_
output.json
*.dex
*.class

bin/
gen/
out/
local.properties
proguard/
*.iml
*.ipr
*.iws
.idea/
build/
proguard_logs/
.DS_Store
.gradle/
.externalNativeBuild/
release.jks
